@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <strong>λ# Web Chat</strong>
        <a href="http://lambdasharp.net" target="_blank" class="ml-md-auto">About λ#</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
